@tailwind base;
@tailwind components;
@tailwind utilities;

.sidebar {
    padding: 0 24px 0 24px;
    cursor: pointer;
    color: #64748b;
    &:hover {
        background-color: #ecf2ff;
        border-radius: 30px;
        color: #366dff;
    }
}
.active {
    padding: 0 24px 0 24px;
    border-radius: 30px;
    color: #366dff;
    background-color: #ecf2ff;
}